body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.list-inline>li {
    font-weight: bold;
    font-size: 18px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 15px;
}
.list-inline>li:first-child {
	padding-left: 30px;
}
.btn {
	width:150px;
}
.origin{
	font-size:18px;
}
.theme-row{
	background-color: #f7f7f7;
}
.panel-search {
	margin-bottom: 0;
}
.search-group {
	margin-bottom: 0;
}
.search-label {
	margin-top: 5px;
	margin-bottom: 0;
}
.word-heading { 
	margin-left: 10px;
}
.word-table {
	border:0;
}

footer{
	background: #f7f7f7;
}
.footer-row{
	margin: 10px 0;
	margin-top: 15px;
}

@media(max-width: 320px){
	.list-inline>li {
	    font-weight: bold;
	    font-size: 18px;
	    padding-right: 0px;
	    padding-left: 0px;
	}

}