body {
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Source Sans Pro", Arial, sans-serif;
}
.btn-word {
	margin-bottom:15px;
	cursor: default;
}
.blank-row {
	margin-top: 20px;
}
.origin{
	font-size:18px;
}
.theme-row{
	background-color: #f7f7f7;
}
.panel-search {
	margin-bottom: 0;
}
small{
	font-size: 120%;
}
.search-group {
	margin-bottom: 0;
}
.search-label {
	margin-top: 5px;
	margin-bottom: 0;
}
.word-table {
	border:0;
}

footer{
	background: #f7f7f7;
}
.footer-row{
	margin: 10px 0;
	margin-top: 15px;
}

@media(max-width: 480px){
	small {
		font-size: 85%;
	}
}